<html>
  <head>
    <title>About this project</title>
  </head>

  <body>
    <link rel="stylesheet" type="text/css" href="./index.css" />
    <div class="large-screens">
      <p>hi there! This is an 'application' that 'renders' all of my (Josh) activity data that I've ever tracked in <a href="https://www.strava.com/athletes/38072598">Strava</a>.</p>
      <p><a href="https://github.com/josh-works/strava_run_polylines_osm">Github repo</a>. I have some more info about my travels via scooter on insta: <a href="https://www.instagram.com/josh.works/">@josh.works</a> </p>
      <p>I'll write more about this some day on my 'main' website: <a href="https://josh.works">https://josh.works</a>. Add your email, feel free to follow along. You might come to regret the decision, but it's always easy to unsubscribe.</p>
      <p>For starters, zoom way out, see if you can find my trip to Canada.</p>
      <p>I ride a moped, a 170cc Lance Cabo 200i, and it's a great vehicle.</p>
      <p>I'll write more about it some day. I probably think you should get a moped and start riding around yourself.</p>
    </div>
  </body>
</html>
