<html>
  <head>
    <title>About this project</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css" />
  </head>

  <body>
    <div class="nav">
      <a href="/">home</a>
    </div>
    
    <div class="large-screens">
      <p>hi there! This website shows, mainly, exactly where I've ridden my scooter. I track trips in <a href="https://www.strava.com/athletes/38072598">Strava</a>, and then can retrieve the raw data stored by the app, and then I can render it on this page!</p>
      <p>I'll probably write more about this project some day on my 'main' website: <a href="https://josh.works">https://josh.works</a>.</p>
      
      <p>Overall, the green lines on the map represent where I've travelled on a scooter, or my own two feet. Sometimes bicicling, and even ferries and such. In some cases, it'll be obvious what sort of form of travel I'm on, just by looking at the line location.</p>
      <p>for example, compare <a href="/?zoom=20&latlng=40.361055, -74.566923">this train trip</a> to <a href="/?zoom=17&latlng=47.511956, -122.463613">this ferry ride</a>. Obviously different.</p>
      <p>Still, this is mostly about scooters. Scooters are freakishly efficient in ways that can be difficult to discuss directly but sometimes can be effortlessly perceived via experience. I'm confident scooters have not yet approached the theoretical ideal level of utilization within American mobility networks.</p>
      <p>As a first "it can do more than you'd think", check out <a href="/?zoom=6&latlng=44.025455, -113.972168">this several thousand mile/km journey I took.</a> On the opposite scale, in the data you can see very fine-grained activity, like me stopping for dinner at Teton Thai .<a href="/?zoom=20&latlng=43.587676, -110.822242">Here's where I stopped for that meal (and gas) near Jackson Hole, WY,</a> on maybe the third-to-last day of the trip</p> 
      <p>When in the USA, I'm usually riding a scooter, and I happen to have a 170cc Lance Cabo 200. It's an adequate vehicle. There's lots of other similarly-sized scooters out there. Scroll down a bit for photos. These are all scooters I've ridden in the USA or Asia, of late. </p> 
      <p>I'll write more about it some day. I probably think you should get a moped and start riding around yourself.</p>
    </div>

    <h3>Take a look at different places I've tracked my mobility data within, like:</h3>
    <ul>
      <li><a href="/?latlng=39.72927165246686, -105.00802723474892">Denver, Colorado, USA</a></li>
      <li><a href="/?latlng=-8.506786197265994,115.26236578460734">Ubud, Bali, Indonesia</a></li>
      <li><a href="/?latlng=47.60172493284988,-122.33900705633255">Seattle, Washington, USA. Two visits, different years, same friend, who lived in two different parts of the city, one of which was primarily ferry accessible, and, if you ask nicely, might take you sailing. I tracked my movement data anytime I was on a boat, scooter, feet, but not if in a car</a></li>
      <li><a href="/?latlng=19.36028774857446,98.44101216617672">Pai, Thailand</a></li>
      <li><a href="/?latlng=18.78535937701283,98.99485133328339">Chiang Mai, Thailand</a></li>
      <li><a href="/?latlng=25.049322875777623,121.5149019061664">a 24-hour layover in Taipai, Taiwan, containing train travel from the airport > city, scooter rental, touring around the city/night markets</a></li>
      <li><a href="/?latlng=27.71477455315837,85.31205826372452">a few days in Kathmandu, Nepal</a></li>
      <li><a href="/?latlng=40.76448082008763,-73.97905681018185">Amtrack-facilitated trip from DC -> NYC, USA</a></li>
      <li><a href="/?latlng=22.615623090684668,-83.71015545648831">🧗‍♀️ in Viñales, Cuba</a></li>
    </ul>

    I'll maybe include more places later. 

    <p>I could write a book about Denver. I've travelled far and wide, across the city, I think. The last few years of my life has encompassed a few big moves, and a lot of travel. I was married, am no longer married, etc. I think this data is fascinating, it contains a lot of life lived.</p>

    <p>I've moved around Golden, Denver, and to Loveland, for a time, and spent a greater-than-usual amount of time in Asia.</p>

    <p>I note that the map is currently devoid of labels. It certainly is not often that we interact with maps, completely without references.</p>
    <p>All of this is data I've retreived from Strava, from when I first started using it to track some running I was doing.</p>
    <p>Over the years, I'd track more data, and then figured out I could easily-enough retrieve all of the data ever stored by Strava, rendered on a single, easy-enough-to-explore interface.</p>
    <p>There's years of data, and now obviously across a mode of travel methods.</p>
    <p>It's interesting. For example, <a href="/?latlng=39.72610779224126,-105.20863872171952">here's what the map looks like for the apartment building I lived in</a> for a few years, in Golden, CO.</p>
    <p>Since then, I've lived in a few different places, and spent days-to-weeks-to-months in many more, so there's many different spots of the world I've explored with an intensity most associated with 'walks daily around here'</p>
    <p>I've also tracked a few long scooter trips, and some train trips. I *think* I have very few, almost no, car trips. That's not exactly true, but a primary distinctive feature of this map is that it happened exclusively atop two-wheeled vehicles.</p>
    <p>Usually the vehicles looked something like the Lance Cabo, Genuine Buddy Kick, Nmax, PCX, Scoopy, and more:</p>
    <img src="https://www.lancepowersports.com/images/models/Cabo200i/Gallery_Cabo200i_53.jpg" alt="a lance cabo 20o">
    <img src="https://cdn2.yamaha-motor.eu/prod/product-assets/2024/G150/2024-Yamaha-G150-EU-Deep_Blue-Action-001-03.jpg" alt="yamaha nmax">
    <img src="https://www.hondamotorscooter.com/wp-content/uploads/2021/12/honda-scoopy.jpg" alt="a scoopy 150">
    <img src="https://cdn.shoplightspeed.com/shops/615845/files/59595324/800x1024x1/genuine-scooters-2023-turquoise-genuine-buddy-kick.jpg" alt="turquoise buddy kick">

    <p>- ❤️, Josh. </p>
    
    <p>joshthompson@hey.com, if you'd like to say hello</p>
  </body>
</html>
