<html>
  <head>
    <title>About this project</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css" />
  </head>

  <body>
    <div class="nav">
      <a href="/">Home</a>
    </div>
    
    <div class="large-screens">
      <h2>hi there!</h2>
      <p>This website shows, mainly, exactly where I've ridden my scooter. I track trips in <a href="https://www.strava.com/athletes/38072598">Strava</a>, and then can retrieve the raw data stored by the app, and then I can render it on this page!</p>
      <p>I'll probably write more about this project some day on my 'main' website: <a href="https://josh.works">https://josh.works</a>.</p>
      <p>Overall, the green lines on the map represent where I've travelled on a scooter, or my own two feet. Sometimes bicicling, and even ferries and such. In some cases, it'll be obvious what sort of form of travel I'm on, just by looking at the line location.</p>
      <p>for example, compare <a href="/?zoom=20&latlng=40.361055, -74.566923">this train trip</a> to <a href="/?zoom=17&latlng=47.511956, -122.463613">this ferry ride</a>. Obviously different.</p>
      <p>Still, this is mostly about scooters. Scooters are freakishly efficient in ways that can be difficult to discuss directly but sometimes can be effortlessly perceived via experience. I'm confident scooters have not yet approached the theoretical ideal level of utilization within American mobility networks.</p>
      <p>As a first "it can do more than you'd think", check out <a href="/?zoom=6&latlng=44.025455, -113.972168">this several thousand mile/km journey I took.</a> On the opposite scale, in the data you can see very fine-grained activity, like me stopping for dinner at Teton Thai .<a href="/?zoom=20&latlng=43.587676, -110.822242">Here's where I stopped for that meal (and gas) near Jackson Hole, WY,</a> on maybe the third-to-last day of the trip</p> 
      <p>When in the USA, I'm usually riding a scooter, and I happen to have a 170cc Lance Cabo 200. It's an adequate vehicle. There's lots of other similarly-sized scooters out there. Scroll down a bit for photos. These are all scooters I've ridden in the USA or Asia, of late. </p> 
      <p>I'll write more about it some day. I probably think you should get a moped and start riding around yourself.</p>
    </div>
    
    <h3>Books informing the collection of this data</h3>

    <p>I have a thing for 'trip data'. I'm interested in nearly every aspect of what's entailed in going from one place to another.</p>
    <p>There's a few books that strongly informs this data. Alain Bertraud wrote the following book:</p>
    <a href="https://www.goodreads.com/book/show/39644188-order-without-design">Order Without Design: How Markets Shape Cities</a>

    <p>Another book, written by a person named Donald Shoup:</p>

    <a href="https://www.amazon.com/High-Cost-Parking-Updated-Edition/dp/193236496X/ref=as_li_ss_tl?ie=UTF8&qid=1332084228&sr=8-1&linkCode=ll1&tag=markeurban-20&linkId=65aeac5942c99b794876bb2d2dc32bb0">The High Cost of Free Parking</a>

    <p>Combined, these  books paint a picture of 'the physical infrastructure allocated to moving people around matters, and if it's built well/poorly, it matters.'</p>
    <p>Politically powerful white people in America tend to be obsessed with parking, and either through actual or symbolic fits when encountering the suggestion that parking minimums be eliminated.</p>
    <p>Overall, 'parking minimums' in America have been used to accomplish acts of ethnic cleansing (among other things), so... I'm overall opposed to parking minimums.</p>
    <p>The road networks inside the USA have a distinct feel compared to road networks in, for example, Indonesia or Taiwan. Those places have *less* supremacy and ethnic cleansing baked into their road networks, and therefore function qualitatively different.</p>
    <p>A 'standard' road network in Bali, or Taipei, is probably two orders of magnitude 'better' than the standard in the USA</p>
    <p>One of those orders of magnitude of improvement is the low cost of road building.</p> 
    <p>American roads are very, very wide. They generate enormous water runoff, so an american road is often built with draining capacities attached.</p>
    <p>Americans roads are also quite prolific. It sometimes feels like every available surface is paved with concrete or asphalt.</p>
    <p>American road networks also move a very small number of people per lane mile, per minute.</p>
    <p>Signalized (and unsignalized) intersections EVERYWHERE means everyone is going to spend a lot of time waiting at lights, at it only takes 3-10 people, wanting to make a certain turn at about the same time, in separate vehicles, to cause the network to be overburdened.</p>
    <p>Also, an incredible percentage of trips in America are conducted in a car, and those sorts of vehicles are extremely fragile to congestion and such.</p>
    <p>I could say so, so much more. Working on it.</p>
    <p><a href="https://zoningverydifferentthanours.substack.com/">I have a substack (Zoning Very Different Than Ours)</a> that gets into more of this.</p>

    <p>I wish we could calculate how much time is lost with the average car driver looking for parking, finding it, then walking to wherever they're going. That time adds up.</p>

    

    

    <h3>The Stories Contained Within This Data</h3>

    <p>Like I said, this data spans years of my life. It's been fun to collect, sorta self-sustaining now. Theoretically I could turn this into a web app that would get your Strava activity too, and would generate something similar for you. There's similar-ish tools out right now.</p>

    <p>Generally, green pins indicate where I started tracking a trip, and red pins are at the end of the trip. I often took a lot of photos, and for a time, I thought attaching photos to Strava activities would cause me to be able to retrieve the photo and coordinates for where it was taken via the API. Alas, I cannot, so thus far this application is devoid of many photos.</p>
    <ul>
      <li><a href="/?zoom=5&latlng=45.890468, -115.880463">a 3600 mile/5800km scooter hammock camping tour around the USA</a></li>
      <li><a href="/?zoom=19&latlng=50.691455, -121.937397">at a 'detailed information' view, here's what it looks like for me to get gas and have lunch at a coffee shop while on a longish scooter journey</a></li>
      <li><a href="/?zoom=19&latlng=50.691455, -121.937397">Seattle, Washington, USA. Two visits, different years, same friend. if you ask nicely, might take you sailing. He lived in two different parts of the city, one of which was primarily ferry accessible.</a></li>
      <li><a href="/?zoom=10&latlng=19.142406, 98.678621">I spent a week in Chiang Mai, then rode the scooter I'd rented to Pai, a few hours north. It was a lovely city, I had a very nice week, then rode back to Chiang Mai. This view is what all that activity looks like.</a></li>
      <li><a href="/?latlng=18.78535937701283,98.99485133328339">Chiang Mai, Thailand. As you might </a></li>
      <li><a href="/?latlng=25.049322875777623,121.5149019061664">a 24-hour layover in Taipai, Taiwan, containing train travel from the airport > city, scooter rental, touring around the city/night markets</a></li>
      <li><a href="/?latlng=27.71477455315837,85.31205826372452">a few days in Kathmandu, Nepal</a></li>
      <li><a href="/?latlng=40.76448082008763,-73.97905681018185">Amtrack-facilitated trip from DC -> NYC, USA</a></li>
      <li><a href="/?latlng=22.615623090684668,-83.71015545648831">🧗‍♀️ in Viñales, Cuba</a></li>
    </ul>

    

    <p>I could write a book about Denver. I've travelled far and wide, across the city, I think. The last few years of my life has encompassed a few big moves, and a lot of travel. I was married, am no longer married, etc. I think this data is fascinating, it contains a lot of life lived.</p>

    <p>I've moved around Golden, Denver, and to Loveland, for a time, and spent a greater-than-usual amount of time in Asia.</p>

    <p>I note that the map is currently devoid of labels. It certainly is not often that we interact with maps, completely without references.</p>
    <p>All of this is data I've retreived from Strava, from when I first started using it to track some running I was doing.</p>
    <p>Over the years, I'd track more data, and then figured out I could easily-enough retrieve all of the data ever stored by Strava, rendered on a single, easy-enough-to-explore interface.</p>
    <p>There's years of data, and now obviously across a mode of travel methods.</p>
    <p>It's interesting. For example, <a href="/?latlng=39.72610779224126,-105.20863872171952">here's what the map looks like for the apartment building I lived in</a> for a few years, in Golden, CO.</p>
    <p>Since then, I've lived in a few different places, and spent days-to-weeks-to-months in many more, so there's many different spots of the world I've explored with an intensity most associated with 'walks daily around here'</p>
    <p>I've also tracked a few long scooter trips, and some train trips. I *think* I have very few, almost no, car trips. That's not exactly true, but a primary distinctive feature of this map is that it happened exclusively atop two-wheeled vehicles.</p>
    <p>Usually the vehicles looked something like the Lance Cabo, Genuine Buddy Kick, Nmax, PCX, Scoopy, and more:</p>
    <img src="https://www.lancepowersports.com/images/models/Cabo200i/Gallery_Cabo200i_53.jpg" alt="a lance cabo 20o">
    <img src="https://cdn2.yamaha-motor.eu/prod/product-assets/2024/G150/2024-Yamaha-G150-EU-Deep_Blue-Action-001-03.jpg" alt="yamaha nmax">
    <img src="https://www.hondamotorscooter.com/wp-content/uploads/2021/12/honda-scoopy.jpg" alt="a scoopy 150">
    <img src="https://cdn.shoplightspeed.com/shops/615845/files/59595324/800x1024x1/genuine-scooters-2023-turquoise-genuine-buddy-kick.jpg" alt="turquoise buddy kick">

    <p>- ❤️, Josh. </p>
    
    <p>joshthompson@hey.com, if you'd like to say hello</p>
  </body>
</html>
