<html>
  <head>
    <title>Mapping Josh's Mobility Data</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css" />
  </head>

  <body>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script type="text/javascript" src="https://rawgit.com/jieter/Leaflet.encoded/master/Polyline.encoded.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <div class="nav">
      <div class="links">
        <a href="/about">About</a>
        <ul class="locations">
          <li><a href="#" onclick="return map.flyTo([39.72927165246686, -105.00802723474892], 13)">Denver</a></li>
          <li><a href="#" onclick="return map.flyTo([-8.506786197265994,115.26236578460734], 14)">Ubud, Bali, Indonesia</a></li>
          <li><a href="#" onclick="return map.flyTo([47.60172493284988,-122.33900705633255], 14)">Seattle, WA</a></li>
          <li><a href="#" onclick="return map.flyTo([19.36028774857446,98.44101216617672], 15)">Pai, Thailand</a></li>
          <li><a href="#" onclick="return map.flyTo([27.71477455315837,85.31205826372452], 15)">Kathmandu, Nepal</a></li>
          <li><a href="#" onclick="return map.flyTo([40.76448082008763,-73.97905681018185], 11)">trip from DC -> NYC, USA</a></li>
          <li><a href="#" onclick="return map.flyTo([22.615623090684668,-83.71015545648831], 15)">Viñales, Cuba</a></li>
          <li><a href="#" onclick="return map.flyTo([13.762002, 100.494141], 15)">Bangkok, Thailand</a></li>
          <li><a href="#" onclick="return map.flyTo([25.049695, 121.518558], 18)">Taipei, Taiwan</a></li>
        </ul>
      </div>
    </div>
  
    <div id="map" style="width: 100%; height: 100%"></div>
    <script>

      var bigBlueIcon = new L.Icon({
        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-blue.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [30, 51],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
      });

    
      const activityMap = {
      "Velomobile": "Scooter",
      "Handcycle": "Scooter",
      "Ride": "Bicycle",
      "Walk": "Walk",
      "Wheelchair": "Car",
      "RockClimbing": "Walk",
      "Run": "Run"
    }

    const colorTable = {
      "Scooter": "aqua",
      "Walk": "yellow",
      "Bicycle": "red",
      "Run": "red"
    }

    function getColorForActivity(type){
      realType = activityMap[type]
      if (activityMap[type] == null) {
        console.log(type)
      }
      
      return colorTable[realType]
    }

    function placelatlngzoominurl(cords){
      zoom = map.getZoom()
      
      window.history.replaceState('', '', '?zoom=' + zoom + '&latlng=' + cords);
    }

    var zoom_param = {{ zoom }}
    var denverCords = [ 39.72927165246686, -105.00802723474892 ]
    var map = L.map('map', 
            {
              closePopupOnClick: false
            }
            ).setView(denverCords, zoom_param);

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 22,
      minZoom: 1,
      id: 'mapbox/satellite-v9',
      tileSize: 512,
      zoomOffset: -1,
      accessToken: 'pk.eyJ1Ijoiam9zaHdvcmtzIiwiYSI6ImNrcWk2NzUxeTJhbm8yem4weDFreTY5bjQifQ.Qja1F9B1-i7hK3KOvSYAvg'
    }).addTo(map);

    // markers
    var markersArray = []
    var photos_and_coords = {{ photos|safe }}

    var humboldt = [39.74149, -104.969312]
    // L.circle(humboldt, 
    //         {radius: 5300,
    //           fillRule: 'evenodd',
    //         color: "#ccee33"}
    //         )
    //         .addTo(map);

    const pointOptions = {
      radius: 200,
      stroke: false,
      color: '#E65217',
      weight: 1,
      opacity: 1,
      fill: false,
      fillOpacity: 1
    // render: L.svg(),
    // className: 'main-point-marker'
    }
    L.circle(humboldt, pointOptions).addTo(map);
    L.circle(humboldt, {radius: 1000, fill: false, color: "#70b394", stroke: true}).addTo(map);
    L.circle(humboldt, {radius: 5000, fill: false, color: "#70b394", stroke: true}).addTo(map);
    // L.circle(humboldt, {radius: 2000, fill: false, fillColor: "#70b394"}).addTo(map);
    // L.circle(humboldt, {radius: 5300, fill: false, fillColor: "#70b394"}).addTo(map);
    // for (let i = 0; i < photos_and_coords.length; i++) {

    //   data = photos_and_coords[i]

    //   url = data[0]
    //   latlng = JSON.parse(data[1])

      
    //   let newMarker = L.marker(latlng, {
    //     icon: bigBlueIcon,
    //     title: url,
    //     autoClose: false
    //   })
      
    //   newMarker.addTo(map);
    //   markersArray.push(newMarker)
    //   newMarker.bindPopup(
    //     `<img src="${url}" style="width:200px"><p>Here's a photo I took from the activity</p>`
    //   ).openPopup();
    // }
    // for (let mark of markersArray) {
    //   mark.bindPopup(
    //                 `<img src="${url}" 
    //                   style="width:200px"><p>Here's a photo I took from the activity</p> `
    //                   ).openPopup();
    // }

    



    // var photoMarker = L.marker([39.728373, -104.940488], {
    //   draggable: false,
    //   title: "i'm a title! This is where this photo was taken",
    //   style: "background-color:black;",
    //   alt: 'zzz-photo-marker'
    // }).addTo(map);

    // photoMarker.bindPopup('<img src="https://dgtzuqphqg23d.cloudfront.net/QThlg8qH8Ci0kjAhbDXUOW0LAD1z_TTbvDs3lWNkM6Y-2048x1536.jpg" style="width:200px"><p>this photo came with geodata, as it was taken on a drone I was flying at the time.</p> ');
    // photoMarker.addEventListener('click', function() {
    //   window.open(this.src, '_blank');
    // });

    // let thumb = document.querySelectorAll(".leaflet-popup-content > img:nth-child(1)")[0];
    // thumb.addEventListener('click', function() {
    //   window.open('https://dgtzuqphqg23d.cloudfront.net/QThlg8qH8Ci0kjAhbDXUOW0LAD1z_TTbvDs3lWNkM6Y-2048x1536.jpg', '_blank');
    // });
  

    var homebot_office = L.marker([39.74896, -104.999058]).addTo(map);
    homebot_office.bindPopup("<b>Company Office</b><br>For about a year, I worked for a company that had an office available for any employee to use. I used it more than most, because I could park my scooter in the basement. Easy travel, effortless parking");

    var baker_climbing_gym = L.marker([39.725278, -105.002571]).addTo(map);
    baker_climbing_gym.bindPopup("<b>Climbing Gym</b><br>When in Denver, it's the most-frequently-frequented area climbing gym for me. Many, many tracked activities begin, end, or pass through this location.");

    var night_1 = L.marker([43.392302, -108.161194]).addTo(map);
    night_1.bindPopup("<b>Spent first night here</b></br>I'd picked out this campground as 'likely to have a nice spot to sleep', and it totally delivered. Covered pavilion, picnic table, easy hammock-hanging, quiet, etc.");

    var night_2 = L.marker([44.616897, -110.418021]).addTo(map);
    night_2.bindPopup("<b>Spent second night here</b></br>I'd not gotten as far as I'd hoped/planned today, and ran into rain. It was all NBD, and I had tons of downtime in Yellowstone, so had a great time.");

    var night_3 = L.marker([48.391028, -116.496921]).addTo(map);
    night_3.bindPopup("<b>Third night was super easy, stayed at friend's house</b></br> everyone had a restful morning in Sandpoint. Lots of food, a shower, coffee, etc. Felt very peaceful");

    var night_4 = L.marker([50.316613, -119.191597]).addTo(map);
    night_4.bindPopup("<b>4th night, arriving in Vernon, BC: </b></br> I arrived at the site of the training that was happening over the following week.");

    var travel_1 = L.marker([50.571791, -120.434634]).addTo(map);
    travel_1.bindPopup("<b>Travelling to Seattle, night 1</b></br> I left Vernon Friday afternoon, after wrapping up for the week, figured I could get a few hours of travel before the sun went down. I was right, I did, this was one of the most peaceful, beautiful, and alone nights I had on the entire trip. A story could be told about over-night site selection");

    var travel_2 = L.marker([49.672404, -123.164833]).addTo(map);
    travel_2.bindPopup("<b>2nd night of getting to Seattle, at a beautiful campground. I had no idea I was going to be riding through squamish</b></br> I could have spent days/weeks here, climbing and climbing and climbing. Next time?");
    
    var travel_3 = L.marker([47.464656, -122.539632]).addTo(map);
    travel_3.bindPopup("<b>Normandy, Ross's house</b></br> friends, family, peacefulness. It was all lovely, i've spent a few total weeks here now");

    var denver_1 = L.marker([45.788617, -118.222718]).addTo(map);
    denver_1.bindPopup("<b>Seattle to Denver, night 1</b></br> a peaceful spot to spend the night, but the prior gas station was closed, so I was a bit concerned about gas. I had a half-tank in reserve, and expected to need at least some of it. It was also cold-ish.");

    var denver_2 = L.marker([43.019022, -114.229758]).addTo(map);
    denver_2.bindPopup("<b>returning to Denver, night 2</b></br> def my least favorite night out on the trip. It was late, I was tired, was having trouble even finding trees that could hold a hammock and were not right next to a possibly-in-use house");

    var denver_3 = L.marker([43.481899, -110.767293]).addTo(map);
    denver_3.bindPopup("<b>The city of Jackson Hole, WY</b></br> I hung out for the day, almost went climbing but was on a bit of a schedule for getting back to Denver. When I quested off on the trip, I had no idea I'd be passing through Jackson Hole.");

    var denver_4 = L.marker([43.479022, -110.809468]).addTo(map);
    denver_4.bindPopup("<b>this entire road, end-to-end, was stopped traffic</b></br> On my way out of town, for miles (maybe 12?) traffic was nearly completely stopped. I scooted past everyone at a cool 30 mph, was hardly affected. It was/still is the longest traffic jam I've ever passed by on my scooter");

    var jackson_hole_1 = L.marker([43.587646, -110.822183]).addTo(map);
    jackson_hole_1.bindPopup("<b>thai food + beautiful sunset views</b></br> learned that the road I was planning on taking next was closed. I ended up taking it (rode under/around the gate) and had a grand ol' time. The only 'issue' was that the road was sometimes dirt instead of pavement. I survived.");

    var denver_5 = L.marker([43.278375, -109.110637]).addTo(map);
    denver_5.bindPopup("<b>3rd night, returning to Denver</b></br> slimmer hammock camping pickings out here than I prefer. It was fine.");

    var denver_6 = L.marker([39.903239, -105.777719]).addTo(map);
    denver_6.bindPopup("<b>4th night/last night</b></br> almost back to Denver. These felt like big travel days at this point. Not undoable, but deff tiring");

    var golden_house = L.marker([39.766161, -105.229465]).addTo(map);
    golden_house.bindPopup("<b>i lived here once</b></br> walked, biked, scooted from here for ~2 years");

    var golden_apartment = L.marker([39.726372, -105.208737]).addTo(map);
    golden_apartment.bindPopup("<b>I lived here once too</b></br> across the street from a climbing gym, and top notch trail running");

    var lisa_tejen_first_place = L.marker([39.709595, -104.993345]).addTo(map);
    lisa_tejen_first_place.bindPopup("<b>Friends lived here</b></br> and for a total of a few weeks, so did I! We'd also do regular coworking/coffee type events. Lots of fun was had here!");

    var alex_shirleys_house = L.marker([39.669782, -104.971401]).addTo(map);
    alex_shirleys_house.bindPopup("<b>I also lived here for a time</b></br> t'was lovely, and Alex and Shirley have a moonboard in their garage! On that virtue alone, best place I've ever lived. :)");

    var loveland_1 = L.marker([40.390564, -105.071676]).addTo(map);
    loveland_1.bindPopup("<b>I've also spent a good chunck of time in Loveland</b></br> long enough to have a membership at local climbing gyms");
    
    var loveland_climbing_gym = L.marker([40.401422, -105.056001]).addTo(map);
    loveland_climbing_gym.bindPopup("<b>local climbing gym</b></br> it was sorta tricky to get to");

    var denver_adams_st = L.marker([39.733281, -104.94868]).addTo(map);
    denver_adams_st.bindPopup("<b>spent a winter living here</b></br> Denver alleys get icy in the winter");

    var trader_joes_colo_ave = L.marker([39.728743, -104.940242]).addTo(map);
    trader_joes_colo_ave.bindPopup("<b>the local grocery store/trader joe's</b></br> first time making regular use of one. I get it. Wish the surrounding intersection wasn't so bad");

    var south_denver_grocery = L.marker([39.677433, -104.972238]).addTo(map);
    south_denver_grocery.bindPopup("<b>local grocery store (safeway)</b></br> this is/was the local grocery store");

    var rino_climbing_gym = L.marker([39.765373, -104.97871]).addTo(map);
    rino_climbing_gym.bindPopup("<b>climbing gym (Movement RiNo)</b></br> another Movement chain climbing gym, bouldering only. Parking is notoriously challenging, as you could imagine. Unless... (say it with me) you're on a scooter");

    var englewood_gym = L.marker([39.650116, -105.000951]).addTo(map);
    englewood_gym.bindPopup("<b>another Movement climbing gym</b></br> Upside: huge lead walls. Downside: No moonboard.");

    var golden_climbing_gym = L.marker([39.728115, -105.207326]).addTo(map);
    golden_climbing_gym.bindPopup("<b>Earth Treks/Movement Golden</b></br> first of the Earth treks gym chain in Colorado. Obviously not the last.");
    
    var bad_intersection_01 = L.marker([39.74019, -105.109578]).addTo(map);
    bad_intersection_01.bindPopup("<b>i strongly dislike these sorts of intersections</b></br> I obviously pass through intersections like this regularly, and they're horrible. Much, much more on that later.");
    // var jackson_hole_1 = L.marker([49.672404, -123.164833]).addTo(map);
    // jackson_hole_1.bindPopup("<b>title</b></br> description");
    // var jackson_hole_1 = L.marker([49.672404, -123.164833]).addTo(map);
    // jackson_hole_1.bindPopup("<b>title</b></br> description");
    // var jackson_hole_1 = L.marker([49.672404, -123.164833]).addTo(map);
    // jackson_hole_1.bindPopup("<b>title</b></br> description");


    // end markers

    var greenIcon = new L.Icon({
      iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
      shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
      iconSize: [25, 41],
      iconAnchor: [12, 41],
      popupAnchor: [1, -34],
      shadowSize: [41, 41]
    });
    var redIcon = new L.Icon({
      iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
      shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
      iconSize: [25, 41],
      iconAnchor: [12, 41],
      popupAnchor: [1, -34],
      shadowSize: [41, 41]
    });



// L.marker([51.5, -0.09], {icon: greenIcon}).addTo(map);

    var encodedRoutes = {{ runs|safe }}
    var coords_param = [ {{ latlng }} ]
    var stepCounter = 0
    for (let encoded of encodedRoutes) {
      polyline = encoded[1]
      activityType = encoded[0]
      var coordinates = L.Polyline.fromEncoded(polyline).getLatLngs();
      var color = getColorForActivity(activityType) 
      var begin_latlong = coordinates[0]
      var end_latlong = coordinates[coordinates.length-1]
      stepCounter += 1

      var line = L.polyline(
          coordinates,
          {
              // color: rainbow(encodedRoutes.length, stepCounter),
              color: color,
              weight: 2,
              opacity: .7,
              lineJoin: 'round',
              smoothFactor: 3
          }
      ).addTo(map);
      // console.log('adding event listner to line')
      // line.addEventListener('mouseover', mouseover(line))
      // line.addEventListener('mouseout', mouseover1(line))
      // line.addEventListener("mouseover", mouseover());
      // line.addEventListener("mouseout", mouseover1());
    }



    function mouseover(e) {  
      // not needed since item is already global, 
      // I am assuming this is here just because it's sample code?
      // var item = document.getElementById("button"); 
      // self.setAttribute("style", "background-color:blue;")
      if (!e) var e = window.event;
      var relTarg = e.relatedTarget || e.fromElement;

    }

    function mouseover1(e)
    {  
      // self.setAttribute("style", "background-color:green;")
    }


    /**
 * @param numOfSteps: Total number steps to get color, means total colors
 * @param step: The step number, means the order of the color
 */
function rainbow(numOfSteps, step) {
    // This function generates vibrant, "evenly spaced" colours (i.e. no clustering). This is ideal for creating easily distinguishable vibrant markers in Google Maps and other apps.
    // Adam Cole, 2011-Sept-14
    // HSV to RBG adapted from: http://mjijackson.com/2008/02/rgb-to-hsl-and-rgb-to-hsv-color-model-conversion-algorithms-in-javascript
    var r, g, b;
    var h = step / numOfSteps;
    var i = ~~(h * 6);
    var f = h * 6 - i;
    var q = 1 - f;
    switch(i % 6){
        case 0: r = 1; g = f; b = 0; break;
        case 1: r = q; g = 1; b = 0; break;
        case 2: r = 0; g = 1; b = f; break;
        case 3: r = 0; g = q; b = 1; break;
        case 4: r = f; g = 0; b = 1; break;
        case 5: r = 1; g = 0; b = q; break;
    }
    var c = "#" + ("00" + (~ ~(r * 255)).toString(16)).slice(-2) + ("00" + (~ ~(g * 255)).toString(16)).slice(-2) + ("00" + (~ ~(b * 255)).toString(16)).slice(-2);
    return (c);
}

    function randomColor() {
      var letters = '0123456789ABCDEF';
      var color = '#';
      for (var i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)];
      }
      return color;
    }

    function setView(){
      if(coords_param[0]) {
        map.setView(coords_param)
      }

      if(zoom_param) {
        map.setZoom(zoom_param)
      }
    }

    map.on('click', 
					function(e){
						var coord = e.latlng.toString().split(',');
						var lat = coord[0].split('(');
						var lng = coord[1].split(')');
            placelatlngzoominurl(lat[1] + "," + lng[0])
					});

    // adding labels, will do this in a 'real' way sometime. store as another CSV, stream from python as [latlng|label title|detailed text]
    // or something like that, same as the polylines?
    
      setView();
    </script>
  </body>
</html>
